@import '../../scss/global/Global';

nav {
    margin-top: 0px;
    margin-bottom: 0px;
    ul {
        display:  flex;
        margin: 0px;
        padding: 0px;
  
        li {
            list-style: none;
            width: 100%;     

            a {
                display: block;
                color: white;
                font-size: 17px;
                font-weight: 400;
                text-align: center;
                padding: 10px;
                background: $BLUE-A;
            }
        }
    } 
}